[Unit]
Description=NIS7A Docker Compose Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/nis7a
Environment=COMPOSE_FILE=docker-compose.public.yml
ExecStart=/usr/bin/docker compose -f /opt/nis7a/docker-compose.public.yml up -d --build
ExecStop=/usr/bin/docker compose -f /opt/nis7a/docker-compose.public.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
